FIREWORKS_API_KEY =
GROQ_API_KEY =
HF_TOKEN =

ORS_API_KEY =

AUDIO_FOLDER=code/multiagent/data/recordings
IMERS_SILENCE_HANGUP=999
WHISPER_MODEL=medium
IMERS_MOCK_MODE=0
IMERS_DB_PATH=./data/incidents.db
IMERS_CHROMA_DIR=./data/protocol_index/chroma_store
GROQ_MAX_CONCURRENT=2
IMERS_EARLY_TRIGGER_WORDS=40
