# Python
__pycache__/
*.py[codz]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Testing
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py.cover
.pytest_cache/

# Virtual environments
.env
.envrc
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# Type checking
.mypy_cache/
.dmypy.json
dmypy.json

# Linting
.ruff_cache/

# Cursor
.cursorignore
.cursorindexingignore

# Project-specific
.sqlite3
.bin
code/IMERS/
