langgraph>=1.0.10
langgraph-checkpoint>=3.0.0
numpy>=1.26.0,<3.0
pandas>=2.1.0,<3.0
pydantic>=2.5.0,<3.0
python-dotenv>=1.0.0
requests>=2.31.0,<3.0
smolagents>=1.0.0,<2.0
pyaudio>=0.2.14
webrtcvad>=2.0.10
spacy>=3.7.0,<4.0
fastapi>=0.116.0
starlette>=1.0.1
uvicorn>=0.29.0
python-multipart>=0.0.9
pydub>=0.25.1
soundfile>=0.12.1
pyinstaller>=6.8.0
geopy>=2.4.0,<3.0
rapidfuzz>=3.9.0,<4.0
torch>=2.3.0
huggingface_hub>=0.24.0
apscheduler>=3.10.0,<4.0
llama-index>=0.11.0
llama-index-embeddings-huggingface>=0.3.0
llama-index-vector-stores-chroma>=0.2.0
chromadb>=0.5.0
groq>=0.9.0
fireworks-ai
polyline>=2.0.0
osmnx>=1.9.0
networkx>=3.3.0
protobuf>=5.29.6
slowapi>=0.1.9
pywebview>=5.0
pythonnet>=3.0
clr-loader>=0.2.6
bottle>=0.12
